PORT =
MONGODB_URI =
JWT_SECRET =
CLOUDINARY_NAME =
CLOUDINARY_API_KEY =
CLOUDINARY_API_SECRET =
RAZORPAY_KEY =
RAZORPAY_SECRET =
STRIPE_SECRET = 
NODE_ENV = 'production'

# Admin Details :-
ADMIN_EMAIL = 'admin@forever.com'
ADMIN_PASSWORD = 'admin@123456'